body{
  background: pink;
}
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile{
  width: 100%;
  height: auto;
  background: #fff;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
.content{
  width: 70%;
  height: auto;
  background: #fff;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  vertical-align: middle;
}
h1,#roll{
  text-align: center;
  text-transform: capitalize;
  color: red;
}
a{
  text-decoration: none;

}
table{
  width=95%;
}
td{
  padding=1%;
}
tr:nth-child(even){
  background: wheat;
}
tr:nth-child(odd){
  background: skyblue;
}
@media only screen and (min-width:360px) and (max-width:480px){
.flex-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile{
  width: 30%;
  height: auto;
  background: #fff;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
.content{
  width: 70%;
  height: auto;
  background: #fff;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
}
@media only screen and (min-width:480px) and (max-width:760px){
.flex-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile{
  width: 30%;
  height: auto;
  background: blue;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
.content{
  width: 70%;
  height: auto;
  background: #fff;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
}
@media only screen and (min-width:761px) and (max-width:1024px){
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile{
  width: 30%;
  height: auto;
  background: red;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
.content{
  width: 70%;
  height: auto;
  background: #fff;
  margin: 2%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 20px;
}
}
